*{
    /*border: 1px solid red; */
    font-family: Kumbh Sans sans-serif;
}
body{
    height: 90vh;
}

#profilresmi:hover {
    border: 2px solid orange !important;
    border-radius: 50%;
}
button#addtocart:hover {
    opacity: 0.7;
    box-shadow: 5px 5px 5px orange;
}
.miniresim{
    cursor: pointer;
}

.miniresim:hover {
    opacity: 0.4;
    border: 2px solid orange;

}
span#itemsayisi {
    color: aliceblue;
    font-size: 11px;
    font-weight: bolder;
    background-color: orange;
    border-radius: 50%;
    width: 16px;
    height: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    left: 28px;
    bottom: 5px;
}
div.okdiv {
    background-color: rgb(239, 242, 242);
    border-radius: 50%;
    cursor: pointer;
    width: 25px ;
    height: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    div.okdiv {
        position: relative;
        top: -50px !important;
    }
    div#okdivi {
        visibility: visible !important;
    }
          
}

div#enbuyuk{
    width: 100px;
    height: 100px;
    display: none;
    position: absolute;

}